---
import Image from "astro/components/Image.astro";
import Layout from "../layouts/Layout.astro";

import bgImage from "../assets/image/eventos.jpg";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div
    class="d-flex justify-content-center align-items-center w-100 vh-100 p-5 position-relative"
  >
    <Image
      src={bgImage}
      alt={"Fondo de eventos"}
      class="d-block w-100 opacity-25 object-fit-cover vh-100 position-absolute top-0 left-0 z-n1"
    />
    <div
      class="bg-secondary d-block w-100 opacity-25 object-fit-cover vh-100 position-absolute top-0 left-0 z-n1"
    >
    </div>
  </div>
</Layout>