---
import BgImage from "../layouts/BgImage.astro";
import FormComponents from "../components/form/FormComponents.astro";

import bgImage from "../assets/image/fondoForm.jpg";

interface form {
  type: "text" | "password" | "email" | "number" | "tel" | "url";
  name: string;
  placeholder: string;
  label: string;
  required: boolean;
}

const form: form[] = [
  {
    type: "email",
    name: "email",
    placeholder: "Correo Electrónico",
    label: "Correo Electrónico",
    required: true,
  },
  {
    type: "password",
    name: "password",
    placeholder: "Contraseña",
    label: "Contraseña",
    required: true,
  },
];
---

<BgImage bgImage={bgImage}>
  <div class="container py-md-5">
    <div class="row mt-md-5 justify-content-center">
      <div class="col-lg-6 bg-dark p-5 opacity-75 rounded-2 text-center">
        <div class="mb-2">
          <h2>Login</h2>
          <FormComponents form={form} />
        </div>
        <a href="register">Aun no tienes cuenta, regístrate aquí</a>
      </div>
    </div>
  </div>
</BgImage>
