<!-- Navbar Bootstrap con enlaces centrados -->
<header
  id="navbar"
  class="navbar navbar-expand-md navbar-dark bg-dark py-2 px-3 mb-4 mt-md-2 rounded-4 shadow container-md"
>
  <!-- Logo -->
  <a class="navbar-brand col-lg-3">
    <img src="./image/logo_fight_club.png" alt="Logo" width="60" />
  </a>

  <!-- Botón hamburguesa -->
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Menú de navegación centrado -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto mb-2 mb-md-0">
      <li class="nav-item"><a class="nav-link px-3" href="#">Home</a></li>
      <li class="nav-item"><a class="nav-link px-3" href="#">Features</a></li>
      <li class="nav-item"><a class="nav-link px-3" href="#">Pricing</a></li>
      <li class="nav-item"><a class="nav-link px-3" href="#">FAQs</a></li>
      <li class="nav-item"><a class="nav-link px-3" href="#">About</a></li>
    </ul>

    <!-- Botones Login/Sign-up -->
    <div class="col-lg-4 d-lg-flex justify-content-end">
      <button type="button" class="btn me-2 fs-4"><i class="bi bi-person-circle"></i></button>
      <button type="button" class="btn fs-4"><i class="bi bi-basket3-fill"></i></button>
    </div>
  </div>
</header>
